header {
    /* background: url('stars.jpg'); */
    background: linear-gradient(
      111deg,
      rgb(255, 255, 255) 0%,
      transparent 70%,
      url('stars.jpg') 100%
    );
    background-size: cover;
    background-position: center;
  }
  
  nav {
    background:  #242424;
  
  } */
  
  header {
    background: url('mainBg.png');
    background-size: 100%;
    /* background: linear-gradient(
      111deg,
      rgb(255, 255, 255) 0%,
      transparent 70%,
      url('mainBg.png') 100%
    ); */
    /* background-size: cover; */
    /* background-position: center; */
    height: 150px;
  }
  
  header > nav {
    background: transparent;
    box-shadow: none;
  }
  
  footer {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    height: 50px;
    flex-shrink: 0;
    background-color: #242424;
  }
  
  .page-footer {
    background-color: #242424;
    height: 80px;
  }
  footer > nav {
    height: 80px;
    background-color: #242424;
  
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  
  a {
    font-size: small;
    font-family: sans-serif;
    color: #242424;
  }